body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg.png");
    background-size: 100vw;
}



#container {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1em;
    width: 100%;
}

#container form {
    width: 75%;
    padding: 1em;
}

.imagehead {
    color: white;
}

.mc {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2vw;
    align-items: center;
    padding: 1.5em;
}

.mc label {
    grid-column: 1;
    text-align: right;
    
}

.mc span {
    grid-column: 2;
    text-align: left;
}

.comm {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2vw;
    padding: 1.5em;
}

.comm label {
    grid-column: 1;
    text-align: right;
    
}

.comm textarea {
    grid-column: 2;
    text-align: left;
}
