body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #FFFBFE;
    font-size: 1.2em;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

h1 {
    font-family:'Playfair Display';
    text-align: center;
}

/* NAVIGATION BAR */
/* NAVIGATION BAR */
/* NAVIGATION BAR */

.navbar {
    display: flex;
    align-items: center;
    background-color: #FFFBFE;
    height: 5em;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

#navoverlay {
    background-color: rgb(45, 159, 39);
    height: 0;
    position: relative;
    bottom: -7em;
    text-align: center;
}

.navbar ul {
    margin-right: 2em;
    
}

.navbar img {
    height: 80%;
    margin-left: 2em;
}

.navbar ul li {
    
    background-color: #FFFBFE;
    list-style-type: none;
    display: inline-block;
    width: 15vw;
    text-align: center;
    
}

.navbar ul li a{
    
    color: #1A1A1A;
    display: flex;
    height: 5em;
    justify-content: center;
    align-items: center;
    
    
}

.navbar ul li a:hover {
    background-color:#918a82;
}

/* COVER --------------------------------------- */

#space {
    background-color: rgb(187, 92, 92);
    height: 5em;
}

#cover {
    background-color: rgba(128, 0, 128, 0.5);
    background: linear-gradient(rgba(82, 43, 71, 0.5),rgba(82, 43, 71, 0.5)), url("images/kyler-nixon-_ZBekGTBh-c-unsplash.jpg");
    background-size: cover;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: content-box;
    color: white;

}

#cover h1 {
    font-size: 4.5em;
}

#button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #08415C;
    padding: 0.1em;
    width: 15em;
    height: 2.5em;
    border-radius: 15px;
    color: white;
    outline: none;
    font-size: 1em;
}
#cover img {
    
    height: auto;
    width: 50%;
}

/* SEGMENT 1 --------------------------------------- */

#segment1 {
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
}

.prop {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: auto;
    max-height: 40em;
    width: 120%;
    margin: 1em;
    overflow:hidden;
    padding: 0;
    border-radius: 1em;
}

#prop1 {
    background: linear-gradient(rgba(82, 43, 71, 0),rgba(82, 43, 71, 0.75)), url('images/p1.png');
    background-size: contain;
    background-size: cover;
}

#prop2 {
    background: linear-gradient(rgba(82, 43, 71, 0),rgba(82, 43, 71, 0.75)), url('images/p2.png');
    background-size: contain;
    background-size: cover;
}

#prop3 {
    background: linear-gradient(rgba(82, 43, 71, 0),rgba(82, 43, 71, 0.75)), url('images/p3.png');
    background-size: contain;
    background-size: cover;
}

#info1{
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    height: 20em;
    width: auto;
    margin: 0.5em;
}

#info2{
    text-align: left;
    margin-left: 1em;
}

#info3{
    text-align: right;
    margin-right: 1em;
}

#info4{
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    margin: 0.5em;
}

#properbutton {
    grid-column: 1 / -1;
    background-color: #08415C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2.5em;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    outline: none;
}

